body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

form {
    display: flex;
    justify-content: stretch
}

#book-log {
    border-collapse: collapse;
    width: 100%;  
}

#book-log th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:teal;
    color: white;
}

#book-log td, #book-log th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

#book-log tr:nth-child(odd){background-color:  white; }
#book-log tr:nth-child(even){background-color:  #f2f2f2; }
#book-log tr:hover {background-color: #ddd;}

input {
    margin: .75rem 1rem;
}

#read-status {
    height: 25px;
    width: 25px;
    background-color: #eee;
}

#delete-button {
    height: 25px;
    
 
}